@page "/livestream"

<SeoHead Page="livestream" PagePath="/livestream" />

<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Cedar Grove Baptist Church</h1>
        <p>Livestream</p>
      </div>
    </div>
  </div>
</section>

<main class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div style="position:relative;width:100%;height:0;padding-bottom:56.25%;border-radius:25px;overflow:hidden">
          <iframe tabindex="-1" width="100%" height="100%"
            src="https://embed.sermonaudio.com/player/l/cedargrovebaptist/?autoplay=true"
            style="position:absolute;left:0;top:0" allowfullscreen allow="autoplay"
            frameborder="0" scrolling="no" title="Livestream Player"></iframe>
        </div>
      </div>
    </div>
  </div>
</main>
