@page "/churchindialogue"
@inject IJSRuntime JSRuntime

<PageTitle>CGBC: Church in Dialogue</PageTitle>

<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Cedar Grove Baptist Church</h1>
        <h2>Church in Dialogue</h2>
        <p>The Church in Dialogue seeks Christian unity without glossing over differences nor dispensing with truth.</p>
        <a href="/ministries?p=0" class="btn btn-success">Back to all ministries</a>
      </div>
    </div>
  </div>
</section>

<main class="container">
  <div class="container">
    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div style="width: 100%; text-align: right;">
          <img src="img/detail/churchindialog-logo.png" style="float: right; margin-left: 50px; margin-right: 25px;" />
          <div style="padding-top: 50px; text-transform: uppercase;"><a href="img/detail/TCIDBrochure.pdf"
              class="btn btn-secondary">&nbsp;&nbsp;Download&nbsp;Brochure&nbsp;&nbsp;</a></div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <Card TextAlignment="Alignment.Center"
          style="background: rgba(255,255,255,0.5); border: 0px solid blue; border-radius: 20px;">
          <CardBody>
            <CardText>
              <h2 style="padding-top: 20px; padding-bottom: 20px;">The Church in Dialog?</h2>
              <p style="font-size: 1.25em;">TCID is a series of panel discussions and joint worship services between all
                orthodox Christian denominations that hold to the authority of Scripture and adhere to the fundamental
                tenets of the historic Christian faith.</p>
            </CardText>
          </CardBody>
        </Card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <iframe style="width: 700px; height: 450px; border-radius: 25px;" class="embed-responsive-item"
          src="https://www.youtube.com/embed/JQeXEZXmZWo?loop=1&mute=0&showinfo=0&controls=0&start=0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <Footer />
</main>