.hero-section {
    position: relative;
    text-align: center;
    padding: 20px 0 5px 0;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/church-background.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1200px;
    opacity: 0.5;
    z-index: -1;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #0441f7;
}

.hero-section p {
    font-size: 1.5rem;
    color: #000000;
    font-style: italic;
}

.card-display {
    background: transparent; border: transparent;

}