@inject HttpClient Http

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8" style="text-align: center;">
      Copyright &copy; 2025 - Cedar Grove Baptist Church, 4900 Cedar Grove Rd, Shepherdsville, KY 40165 | (502) 543-4101
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
</div>

@code {

}
