<nav class="navbar navbar-expand-md mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="img/cgbc-logo.png" class="image-logo"/></a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-item link-secondary" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-item link-secondary" href="https://sermons.cedargrovebaptist.church/webcast/" target="_blank">
                        Livestream
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/sermons">
                        Sermons
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/ministries">
                        Ministries
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSfONveAuzOJlA2H8E-F9wh8RQaFmXCe5aROzF6Qb-dIC1Jv_Q/viewform" target="_blank">
                        Connect
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="https://donate.stripe.com/28o5kMb746P96Yg6op" target="_blank">
                        Donate
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/calendar">
                        Calendar
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-secondary" href="/about">
                        About
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
